/* Global Styles*/


header img{
    max-width: 100%;
    height: auto;
    display: block;
}
header {
    background-color: #DBF1FA
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}